.header{
    height: 100vh;
    .left{
        background-color: black;
    }
}

.logo{
    width: 100%;
    img{
        margin-top: 40px;
        margin-left: 40px;
        color: white;
    }
}

// MainText

.h1{
    color: white;
    font-size: 60px;
    margin-top: 90px;
}

// Button

.mainBtn a{
    background-color: #fb345a;
    font-size: 14px;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
}

.mainBtn a:hover{
    background-color: #fb345a;
}

// sidevideo
.sideVideo{
    object-fit: cover;
    object-position: center;
}

.section2{
    width: 100%;
    height: 250px;
    h1{
        margin-top: 100px;
        font-size: 60px;
    }
}

// cardImg

.CardImg .col{
    width: 100%;
    height: 300px;
}

.cardImgCh{
    width: 100%;
}

.signImg{
    height: 200px;
    width: 350px;
    img{
        margin-top: 20px;
    }
}

.Bigh1{
    font-size: 60px;
}

.Bigh1 a{
    color: black;
}

// next section
.nextSection{
    width: 90%;
    height: 450px;
    background-color: #fb345a;
    border-radius: 15px;
    color: white;
}

// mybtn

.myBtn{
    padding: 8px 15px;
    border-radius: 7px;
    font-weight: 600;
}

.myBtn:hover{
    background-color: darkslategrey;
    color: white;
}

// next section 2

.nextSection2{
    width: 90%;
    height: 700px;
    background-image: url(https://a0.muscache.com/im/pictures/93ef1829-62d1-4349-8b4a-b02ebc650a25.jpg?im_w=2560&im_q=highq);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    color: white;
}

.myBtn2{
    font-weight: 600;
    padding: 8px 35px;
}

// section 3
.nextSection3{
    width: 90%;
    height: 700px;
    background-color: #F7F7F7;
    border-radius: 15px;
}

.imgAir{
    margin-left: 80px;
    margin-top: 170px;
}

.section3Img{
    width: 100%;
    height: 110%;
}