.custNav{
    font-weight: bold;
    
}

.navBtn{
    margin-left: 60%;
    a{
        font-weight: 500;
    }
}

// Profile btn
.profileBtn{
    border: 0.5px solid black;
    margin-left: 15px;
    padding: 5px 20px;
    border-radius: 25px;
}

.subProBtn{
    margin-right: 10px;
    margin-left: 4px;
}

// Main Section
.mainSection{
    border: 0.5px solid black;
    border-radius: 10px;
}

// Login Btn
.LoginBtn{
    background-color: rgb(251, 52, 90);
    color: white;
    margin-bottom: 30px;
}